/* start glopal rules  */
:root{
  --main-color:#19c8fa;
  --transparent-color: rgb(15 116 143 / 70%);
}
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: "Open Sans" ,sans-serif;
  /* background-color: black; */
}
ul{
  list-style: none;
  text-decoration: none;
}
.container{
  padding-left: 30px;
  padding-right: 30px;
  /* width: 100%; */
  /* margin-left: auto;
  margin-right: auto; */
}
.special-heading{
  text-align: center;
}
.special-heading h3{
  position: relative;
  font-weight: normal;
  font-size: 40px;
  margin-bottom: 45px;
  text-transform: uppercase;
}
.special-heading h3::before{
  position: absolute;
  content: "";
  width: 120px;
  height: 2px;
  background-color:#333;
  left: 50%;
  transform: translateX(-50%);
  bottom: -25px;
}
.special-heading h3::after{
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  left: 50%;
  border: 2px solid #333;
  transform: translateX(-50%);
  bottom: -32px;
  background-color: white;
}
.special-heading p{
  width: 550px;
  margin: 0 auto 100px;
  max-width: 100%;
  line-height: 2;
  color: #777;
}
/* small */
/* @media (min-width: 768px) {
  .container {
    width: 750px;
  }
} */

/* Medium */
/* @media (min-width: 992px) {
  .container {
      width: 970px;
  }
} */

/* Large */
/* @media (min-width: 1200px) {
  .container {
      width: 1170px;
    }
} */
/* end glopal rules  */
/* start header */
.header{
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
}
.header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  /* min-height: 97px; */
}
.header .container .logo {
  width: 80px;
}
.header .icon{
  cursor: pointer;
  display: none;
  color: white;
}
.header .container .links{
  display: flex;
}
.header .icon:hover + ul{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.header .icon:hover + ul li a{
  padding: 15px;
  font-size: 23px;
}
.header .container .links li a{
  margin-left: 30px;
  padding: 40px 10px;
  display: block;
  color: rgb(253, 253, 253);
  text-decoration: none;
  transition: .3s;
  font-size: 14px;
  position: relative;
  z-index: 3;
}
.header .container .links .active,
.header .container .links a:hover {
  color: var(--main-color);
  border-bottom:3px solid var(--main-color) ;
  position: relative;
  z-index: 3;
} 
.header .container::after{
  content: "";
  position: absolute;
  background-color: #aaa;
  bottom: 0;
  left: 15px;
  height: 2px;
  width: calc(100% - 30px );
}


@media (max-width:768px){
  .header{
    padding: 20px;
  }
  .header .container .icon{
    display:block;
  }
  .header .container  .links{
    display:none;
  }
}
/* end header */
/* start landing */
.landing{
  min-height: 100vh;
  background-image: url(../image/landing.jpg);
  position: relative;
  background-size:cover ;
}
.landing::before{
  background-color: rgb(0 0 0 / 65%);
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}
.landing .text{
  background-color: var(--transparent-color);
  width: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 35px;
  display: flex;
  justify-content: end;
  color: white;
}
.landing .text .content{
  width: 80%;
}
.landing .text .content h2{
  font-size: 30px;
  line-height: 1.5;
  margin-bottom: 15px;
  font-weight: normal;
}
.landing .text .content p{
  font-size: 14px;
  line-height: 2;
}
.landing .shape{
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}
.landing .shape div{
  width: 15px;
  height: 15px;
  border: 1px solid white;
  border-radius: 50%;
  margin-right: 8px;
}
.landing .shape .active{
  background-color:var(--main-color);
  border-color: var(--main-color);
}

@media (max-width:992px){
  .landing .text{
    width: 75%;
  }
  .landing .text .content{
    min-width: 100%;
  }
}
@media (max-width:768px){
  .landing .text{
    width: 100%;
  }
  .landing .text .content{
    min-width: 100%;
  }
}
/* end landing */
/* start services */
.services{
  padding-top: 50px;
  padding-bottom: 50px;
}
.services .content .box{
  display: flex;
  gap: 30px;
  padding: 20px 0;
}
.services .container .content .text h3{
  margin-bottom: 20px;
  color: var(--main-color);
}
.services .container .content .text p{
  line-height: 2;
  color: #777;
}



@media (min-width: 768px) {
  .services .container  .content{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-column-gap: 40px;
  }
}
@media (max-width:992px){
  .services .container .content {
    flex-wrap: wrap;
  }
}
@media (max-width:767px){
  .services .container .content .box {
    flex-direction: column;
    text-align: center;
    /* padding: 0; */
  }}
/* end services */
/* start section  */
.design{
  background-color: #a2a2a2;
  position: relative;
  height: 90vh;
  background-image: url(../image/design-features.jpg);
  background-size: cover;
  overflow: hidden;
}
.design::before{
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.design .text{
  position: absolute;
  right: 0;
  top: 50%;
  background-color: var(--transparent-color);
  padding: 30px;
  width: 50%;
  transform: translateY(-50%);
  z-index: 2;
  color: white;
}
.design .image{
  position: relative;
  left: 15%;
  top: 35%;
}
.design .text .content h2{
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.design .text .content ul li{
  padding: 10px 0;
}
.design .text .content ul li i{
  margin-right: 13px;
}


@media (max-width:992px){
  .design  .image{
    position: relative;
    left: 0%;
    top: 35%;
  }
}
@media (max-width:767px){
  .design .text{
    width: 100%;
    padding: 60px 30px;
  }
  .design .image{
    display: none;
  }
}  
/* end design  */
/* start porfolio  */
.prtfolio{
  padding-top: 50px;
  padding-bottom: 50px;
}
.prtfolio .container .parts{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.prtfolio .container .parts li{
  padding: 10px;
}
.prtfolio .container .parts li.active,
.prtfolio .container .parts li:hover{
  background-color: var(--main-color);
  color: white;
  transition: .4s;
}
.prtfolio  .content{
  display: flex;
  flex-wrap: wrap;
}
.prtfolio  .content .box {
  position: relative;
  overflow: hidden;
}
.prtfolio  .content .box:hover .caption {
  bottom: 0;
  /* position: absolute; */
}
.prtfolio  .content .box:hover img {
  transform: rotate(5deg) scale(1.1);
}
.prtfolio .content .box .caption {
  background-color: white;
  position: absolute;
  left: 0;
  padding: 20px;
  width: 100%;
  transition: .4s;
  bottom: -100%;
}
.prtfolio  .content .box .caption h4 {
  font-weight: normal;
  margin-bottom: 10px;
}
.prtfolio  .content .box .caption p {
  color: var(--main-color);
}
.prtfolio  .content .box  img{
  max-width: 100%;
  transition: .4s;
}
.prtfolio  .more{
  background-color: var(--main-color);
  width: fit-content;
  margin: 30px auto 0;
  padding: 8px 30px;
  color: white;
  font-size: 17px;
}
@media (min-width:767px){
  .prtfolio  .content .box {
    flex-basis: 50%;
  }
} 
@media (min-width:992px){
  .prtfolio  .content .box {
    flex-basis: 25%;
  }
} 
/* end portfolio  */
/* start video  */
.video{
  position: relative;
  overflow: hidden;
 }
.video::before{
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 40%);
}
.video video{
  width: 100%;
  height: 100%;
}
.video .text{
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 50px;
  background-color: var(--transparent-color);
  text-align: center;
  color:white;
}
.video .text h2{
  margin: 0 0 25px;
  text-transform: uppercase;
  font-weight: normal;
}
.video .text p{
  margin-bottom: 25px;
}
.video .text button{
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  text-transform: uppercase;
}
/* end video  */
/* :start about */
.about{
  padding-top: 50px;
  overflow: hidden;
}
.about img{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  bottom: -120px;
  margin-top: -120px;
  max-width: 100%;
}


@media (max-width: 767px) {
  .about img {
    bottom: -60px;
    margin-top: -100px;
  }
}
/* :end about */
/* start statist */
.statistics{  
  background-color: #777;
  background-image: url(../image/stats.png);
  background-size: cover;
  height: 70vh;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.statistics::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}
.statistics .container{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--transparent-color);
  position: absolute;
  top: 50%;
  width: 80%;
  transform: translateY(-50%);
  justify-content: space-between;
  color: white;
  padding: 40px;
  row-gap: 30px;
}
.statistics .container .box i{
  width: 40px;
  height: 40px;
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 auto ; 
}
.statistics .container .box h1{
  font-size: 50px;
  margin: 30px 0 15px;
}
.statistics .container .box p{
  color: #ccc;
}




@media (max-width:767px){
  .statistics .container{
    width: 100%;
    padding: 30px 0;
  }
  .statistics .container .box{
    flex-basis: 50%;
    /* text-align: center; */
  }
  .statistics .container .box h1{
    font-size: 40px;
    margin: 20px 0 10px;
  }
  .statistics .container .box p{
    color: #ccc;
  }
} 
@media (min-width:767px){
  .statistics  .container .box {
    flex-basis: 50%;
  }
} 
@media (min-width:992px){
  .statistics  .container .box {
    flex-basis: 25%;
  }
}
/* end statist */
/* start sKILLS */
.skills{
  padding-top: 50px;
  padding-bottom: 50px;
}
.skills .container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.skills .container > div > h3{
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 30px;
}
.skills .container > div > p{
  color: #777;
  line-height: 1.7;
  text-align: center;
  margin-bottom: 60px;
}
.skills .container .testimonials{
  flex-basis: 47%;
}
.skills .container .testimonials .mempers .box{
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.skills .container .testimonials .mempers .box  img{
  width: 60px;
  height:  60px;
  border-radius: 50%;
  margin-right: 40px;
}
.skills .container .testimonials .text p{
  line-height: 1.6;
  font-size: 15px;
  color: #333;
}
.skills .container .testimonials .text .name{
  text-align: end;
  color: #777;
  font-size: 13px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
.skills .container .testimonials .bullets{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.skills .container .testimonials .bullets li{
  width: 12px;
  height: 12px;
  border: 1px solid #aaa;
  border-radius: 50%;
  margin-right: 8px;
}
.skills .container .testimonials .bullets li.active{
  background-color: var(--main-color);
  border-color:var(--main-color) ;
}
.skills .container .our-skills{
  flex-basis: 47%;
}
.skills .container .our-skills .progress h4{
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: normal;
}
/*  */
.skills .container .our-skills .progress div{
  height: 20px;
  background-color: #edebeb;
  margin-bottom: 35px;
}
.skills .container .our-skills .progress div span{
  display: block;
  background-color: var(--main-color);
  height: 100%;
  position: relative; 
}
.skills .container .our-skills .progress div span::before{
  content: attr(data-progress);
  position: absolute;
  background-color: black;
  color: white;
  top: -40px;
  right: -18px;
  padding: 4px 0;
  width: 40px;
  text-align: center;
  border-radius: 4px;
}
.skills .container .our-skills .progress div span::after{
  content: "";
  position: absolute;
  border-style:solid ;
  border-width: 8px;
  border-color: black transparent transparent;
  right: -8px;
  top: -15px;
}
@media (max-width:767px){
  .skills .container .testimonials .box{
    flex-direction: column;
    text-align: center;
  }
  .skills .container .testimonials .box img{
    margin: 0 0 20px;
  }
  .skills .container .testimonials {
    flex-basis: 100%;
  }
  .skills .container .our-skills {
    flex-basis: 100%;
  }
} 
/* end sKILLS */
/* start quote */
.quote{
  background-image:url(../image/quote.jpg) ;
  background-size: cover;
  min-height: 50vh;
  position: relative;
  text-align: center;
  color: white;
  background-color: #a2a2a2;
}
.quote::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}
.quote .container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
}
.quote .container q{
  font-size: 30px;
  margin-bottom: 20px;
  display: block;
}
@media (max-width:767px){
  .quote .container{
    width: 100%;
  }
} 
/* end quote */
/* start pricing */
.pricing{
  padding-top: 50px;
  padding-bottom: 50px;
}
.pricing .container .content{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  grid-column-gap: 20px;
  grid-row-gap: 40px;
}    
.pricing .container .content .box{
  text-align: center;
  background-color: #f6f6f6;
}
.pricing .container .content .box:hover{
  transform: translateY(-15px);
  transition: .3s;
}

.pricing .container .content .box .head{
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
.pricing .container .content .box .head p{
  margin-top: 20px;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.pricing .container .content .box .head h1{
  font-size: 40px;
  padding-bottom: 30px;
  position: relative;
  margin: 0;   
}
.pricing .container .content .box .head h1::after{
  content: "$";
  left: 39%;
  position: absolute;
  font-size: 15px;
  top: 5px;
}
.pricing .container .content .box .head h1::before{
  content: "/MO";
  right: 35%;
  position: absolute;
  font-size: 11px;
  bottom: 34px;
}
.pricing .container .content .box ul li{
  font-size: 14px;
  color: #333;
  position: relative;
  padding: 20px;
}
.pricing .container .content .box ul li:not(:last-child)::after{
  content: "";
  position: absolute;
  width: 120px;
  height: 1px;
  background-color: var(--main-color);
  left: 50%;
  transform: translateX(-50%);
  bottom: 0px;
}
.pricing .container .content .box ul li:last-child{
  border-bottom: 1px solid var(--main-color);
}
.pricing .container .content .box button{
  background-color: white;
  font-size: 11px;
  padding: 9px 20px;
  border-radius: 6px;
  border: 1px solid var(--main-color);
  margin: 30px;
}
.pricing .container .content .box button:hover{
  background-color: var(--main-color);
  transition: .3s;
  color: white;
}
.pricing .container .contact{
  text-align: center;
  margin-top: 40px;
}
.pricing .container .contact h2{
  margin-bottom: 20px;
  font-weight: normal;
}
.pricing .container .contact button{
  padding: 10px 20px;
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  font-size: 14px;
  color: white;
  font-weight: bold;
}
/* end pricing */
/* start subscribe */
.subscribe{
  background-image: url(../image/subscribe.jpg);
  height: 50vh;
  position: relative;
}
.subscribe::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.subscribe .container{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 95%;
  color: white;
  /* background-color: #19c8fa; */
}
.subscribe .container form{
  width: 40%;
  display: flex;
}
.subscribe .container form input[type="email"]{
  border: 1px solid white;
  background-color: transparent;
  padding: 20px ;
  caret-color: var(--main-color);
  width: 70% ;
  border-right: none;
}
.subscribe .container form input[type="submit"]{
  background-color: var(--main-color);
  width: 30%;
  color: white;
  padding: 10px 20px;
  border: 1px solid white;
  font-weight: bold;
  text-transform: uppercase;
  border-left: none;
}
.subscribe input::placeholder{
  color: white;
}
.subscribe .container form input[type="submit"]:focus,
.subscribe .container form input[type="email"]:focus{
  outline: none;
}
.subscribe p{
  width: 60%;
  line-height: 1.7;
  margin-left: 40px;
}




@media (max-width:992px){
  .subscribe .container{
    flex-direction: column;
    width: 100%;
  }
  .subscribe p{
    width: 90%;
    margin: 30px 0 0;
  }
  .subscribe .container form{
    width: 60%;
  }
}
@media (max-width:767px){
  .subscribe p{
    width: 100%;
    margin: 30px 0 0;
  }
  .subscribe .container form{
    width: 100%;
  }
}
/* end subscribe */
/* start contact  */
.Contact {
  padding-top: 50px;
  padding-bottom: 50px;
}
.Contact .content{
  display: flex;
  justify-content: center;
}
.Contact .container form{
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin-right: 50px;
}
.Contact .container form input[type="text"]{
  border: 1px solid #ccc;
  padding: 20px 20px;
  width: 100%;
}
.Contact .container form input[type="email"]{
  border: 1px solid #ccc;
  padding: 20px 20px;
  width: 100%;
  margin: 30px 0px;
}
.Contact .container form textarea{
  border: 1px solid #ccc;
  padding: 20px 20px;
  width: 100%;
  height: 200px;
}
.Contact .container form input[type="text"]:focus,
.Contact .container form input[type="email"]:focus,
.Contact .container form textarea:focus{
  outline: none;
}
.Contact .container form input[type="submit"]{
  background-color: var(--main-color);
  color: white;
  padding: 10px 15px;
  font-weight: bold;
  border:none;
  margin-left: auto;
  text-transform: uppercase;
  width: fit-content;
  margin-top: 30px;
  font-size: 15px;
  
}
.Contact .container .information{
  flex-basis: 25%;
}
.Contact .container .information .top{
  margin-bottom: 88px;
}
.Contact .container .information  h4{
  margin-bottom: 30px;
  text-transform: uppercase;
}
.Contact .container .information  p{
  color: #777;
  font-size: 14px;
  line-height: 1.7;
}
@media (max-width:767px){
  .Contact .container .content{
    flex-direction: column;
  }
  .Contact .container .content form{
    width: 100%;
  }
  .Contact .container .content .information{
    order: -1;
    text-align: center;
    margin-bottom: 30px;
  }
  .Contact .container .content .information .top{
    margin-bottom: 40px;
  }
}
/* end contact  */
/* start footer */
.foot{
  background-image: url(../image/subscribe.jpg);
  background-size: cover;
  position: relative;
}
.foot::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.foot .container{
  color: white;
  position: relative;
  text-align: center;
}
.foot .container .head{
  padding:  40px 0 60px;
}
.foot .container .head img{
  width: 100px;
}
.foot .container .social h2{
  position: relative;
  padding-bottom: 20px;
  font-weight: normal;
}
.foot .container .social h2::before{
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 22%;
  height: 2px;
  background-color: white;
}
.foot .container .social .links{
}
.foot .container .social .links i{
  padding:  30px 15px;
}
.foot p {
  padding:  50px 0 50px;
}
.foot span {
  color: var(--main-color);
  font-weight: bold;
} 
/* @media (max-width: 767px) {
  .contact .collection .label,
  .contact .collection .link {
      font-size: 25px;
  }
} */
/* end contact */
/* start footer  */
/* .footer {
  background-color: var(--main-color);
}
.footer p {
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
  color: white;
  font-size: 19px;
  padding: 29px 0;
}
.footer span {
  color: yellow;
  font-weight: bold;
} 
/* end footer  */



